global-exclude *

recursive-include qwen_tts *.py *.pyi py.typed
recursive-include qwen_tts *.npz

include LICENSE
include MANIFEST.in
include pyproject.toml

prune assets
prune examples
prune finetuning
prune qwen_tts.egg-info